
body {
	background: url("levi-price-35655.jpg") no-repeat center center fixed;
}

.thumbnail {
    border: 0 none;
    box-shadow: none;
    margin:0;
    padding:0;
}

.header1{
	font-family: 'Rubick', sans-serif;
	font-size: 64px;
}

.header2{
	font-family: 'Rubick', sans-serif;
	font-size: 32px;

}

.carousel-caption {
	position: absolute;
   	top:275px
}