body{
	background-color: black;
	overflow-y: scroll;
	overflow-x: hidden;
	font-family: 'Rubick', sans-serif
}

.navbar{
	background-color: black;
}

.navbar-inverse .navbar-brand{
	color: white;
	font-family: 'Rubick', sans-serif;
	font-weight: 900;
}

.navbar-inverse .navbar-nav>li>a{
	color: white;
	font-family: 'Rubick', sans-serif;
	font-weight: 900;
}

section{
 	width: 100%;
 	padding: 0;
 	display: table;
 	margin: 0;
 	max-width: none;
  	height: 100vh;
}

.content{
	display: table-cell;
	vertical-align: middle;
	color: white;
}

.header1{
	font-size: 64px;
	font-weight: 800;
}

.header2{
	font-size: 32px;
	font-weight: 800;
}

.intro{
	background: url("levi-price-35655.jpg") no-repeat center center fixed;
	background-size: cover;
  	text-align: center;
}

.second{
	background-color: black;
  	text-align: center;
}

